.App {
  text-align: center;
  /* font-family: 'Mitr';
  src: local('Mitr'), url('./Components/Fonts/MitrRegular.ttf') format('truetype'); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*---------------------------*/

.navbar {
  position: fixed;
  top: 0;
  /* width: 35%; */
  color: white;
  font-size: 2.5vh;
  text-align: left;
}

.navbar ul {
  list-style: none;
  text-align: left;
  padding-left: 10px;
  
}

.navbar ul li {
  color: white;
  margin-left: 10%;
  display: inline;
  cursor: pointer;
  
  
}

.navbar ul li > .active{
  border-bottom: 3px solid white;
  transition:all 0.7s ease-in-out;
  /* border-radius: 10%; */
  /* background-color: white; */
  /* border:2px solid white; */
  padding-bottom:5px;
  font-size: 3vh;
}


/* .test>a.active{
  border-bottom: 3px solid red;
  font-size: 3vh;
} */

.hommie {
  height: 100vh;
  background:rgba(0,0,0,0.85)
}

.main {
  height: 100vh;
}
.ex1.active{
  border-bottom: 3px solid white !important;
}

.content {
  height: 100vh;
}
.ex2.active{
  border-bottom: 3px solid rgba(0,0,0,0.85) !important;
}

.content2 {
  height: 100vh;
  background-color: white;
}


/* Extra small devices (phones, 600px and down) Mobile */
@media only screen and (max-width: 600px) {

  /* First Page */

  .hommie {
    background-image: url("./Components/SVG/virus-bg.svg");
    background-repeat: no-repeat;
    background-position: right 75%;
    background-size: 70%;
  }

  .main{
    background-image:url("./Components/SVG/Background/wave (1).svg");
    transition:background-image 1s ease-in-out;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 320%;
    /* border: 1px solid mediumpurple; */
    }

  .navbar {
    position: fixed;
    top: 0;
    /* width: 35%; */
    color: white;
    font-size: 1.5vh;
    text-align: left;
  }

  .navbar ul li {
    color: white;
    margin-left: 5%;
    display: inline;
    cursor: pointer;
  }

  .navbar ul li > .active{
    border-bottom: 3px solid white;
    color:white;
    /* border-radius: 10%; */
    /* background-color: white; */
    /* border:2px solid white; */
    padding-bottom:5px;
    font-size: 1.7vh;
  }

  .Textcovid{
    font-size:4rem;
  }

  .FooterMe{
    margin-top: 1%;
    height: 5%;
    color: white;
    font-weight: bold;
  }

  .ScrollMouse{
    padding-top: 50%;
  }

  /* Second Page */

  .imgStatus{
    width: 25%;
    /* margin-right: 200px;
    padding-top: 0%; */
    top: 15px;
    right: 100px;
    position: relative;
  }
  .Status{
    font-size: 1rem;
    font-weight: bold;
    padding-left: 50px;
    margin-top: -50px;
  }
  .BorderStatus{
    width: 80%;
    border: 5px solid rgba(0,0,0,0.5);
    border-radius: 30px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 100px;
    margin-top: -0px;
  }
  .NewValueStatus{
    font-size: 1rem;
    width: 120%;
    text-align: left;
    padding-left: 20%;
    
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  /* First Page */
  
  .hommie {
    background-image: url("./Components/SVG/virus-bg.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
  }

  .main{
    background-image:url("./Components/SVG/Background/wave (1).svg");
    transition:background-image 1s ease-in-out;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 320%;
    /* border: 1px solid red; */
    }

  .Textcovid{
    font-size:5rem;
  }

  /* Second Page */

  .hospital {
    
    position: relative;
    top: 450px;
    right: 50px;
    height: 30vh;
    opacity: 0.5;
  }
  .imgStatus{
    width: 25%;
    /* margin-right: 200px;
    padding-top: 0%; */
    top: 10px;
    right: 100px;
    position: relative;
    
  }
  .Status{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 50px;
    margin-top: -80px;
  }
  .BorderStatus{
    width: 80%;
    border: 5px solid rgba(0,0,0,0.5);
    border-radius: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 100px;
    margin-top: -0px;
  }
  .NewValueStatus{
    font-size: 1.3rem;
    width: 120%;
    text-align: left;
    padding-left: 20%;
    
  }
}

/* Medium devices (landscape tablets, 768px and up) iPad Vertical */ 
@media only screen and (min-width: 768px) {

  /* First Page */

  .hommie {
    background-image: url("./Components/SVG/virus-bg.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 70%;
    
  }

  .main{
    background-image:url("./Components/SVG/Background/wave (2).svg");
    transition:background-image 1s ease-in-out;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    /* border: 1px solid green; */
    }

  .Textcovid{
    font-size:7rem;
  }

  .FooterMe{
    margin-top: 5%;
    height: 5%;
    color: white;
    font-weight: bold;
  }

  .ScrollMouse{
    padding-top: 40%;
  }

  /* Second Page */

  .hospital {
    position: relative;
    top: 450px;
    right: 50px;
    height: 30vh;
    opacity: 0.5;
  }
  .imgStatus{
    width: 25%;
    /* margin-right: 200px;
    padding-top: 0%; */
    top: 10px;
    right: 100px;
    position: relative;
    
  }
  .Status{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 50px;
    margin-top: -80px;
  }
  .BorderStatus{
    width: 80%;
    border: 5px solid rgba(0,0,0,0.5);
    border-radius: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 100px;
    margin-top: -0px;
  }
  .NewValueStatus{
    font-size: 1.3rem;
    width: 120%;
    text-align: left;
    padding-left: 20%;
    
  }
}

/* Large devices (laptops/desktops, 992px and up)  iPad Horizon */
@media only screen and (min-width: 992px) {

  /* First Page */

  .hommie {
    background-image: url("./Components/SVG/virus-bg.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
  }

  .main{
    background-image:url("./Components/SVG/Background/wave (0).svg");
    transition:background-image 1s ease-in-out;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 110%;
    /* border: 1px solid orange; */
    }

  .Textcovid{
    font-size:8rem;
  }

  .FooterMe{
    margin-top: 0%;
    height: 5%;
    color: white;
    font-weight: bold;
  }

  .ScrollMouse{
    padding-top: 12%;
  }

  /* Second Page */

  .hospital {
    position: relative;
    top: 0px;
    right: 30px;
    height: 45vh;
    opacity: 1;
  }
  .imgStatus{
    width: 25%;
    /* margin-right: 200px;
    padding-top: 0%; */
    top: 90px;
    right: 80px;
    position: relative;
  }
  .Status{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 50px;
    margin-top: 0px;
  }
  .BorderStatus{
    width: 90%;
    border: 5px solid rgba(0,0,0,0.5);
    border-radius: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 100px;
    margin-top: 0px;
  }
  .NewValueStatus{
    font-size: 1.1rem;
    width: 120%;
    text-align: left;
    padding-left: 20%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  /* First Page */

  .hommie {
    background-image: url("./Components/SVG/virus-bg.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
  }

  .Textcovid{
    font-size:15rem;
  }

  
}

/* Extra large devices (large laptops and desktops, 1920px and up) Desktop Screen */
@media only screen and (min-width: 1920px) {

  /* First Page */

  .hommie {
    background-image: url("./Components/SVG/virus-bg.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70% ;
  }

  .main{
  background-image:url("./Components/SVG/Background/wave (0).svg");
  background-repeat: no-repeat;
  background-position: 0% -7%;
  background-size: 100% ;
  }

  .content{
    background-image:url("./Components/SVG/Background/wave (4).svg");
    background-repeat: no-repeat;
    background-position: 0% 120%;
    background-size: 100% ;
    }

  .Textcovid{
    font-size:10rem;
    font-weight: bold;
  }

  .TextSituation {
    font-size: 5rem;
  }

  .TextUpdate{
    font-size: 2rem;
  }

  .VerticalLine{
    border: 5px solid white; 
    height: 20vh;
    margin-top: 17%;
  }
  /* Bott and Foot depend on both margin-top */
  .FooterMe{
    margin-top: 0%;
    height: 5%;
    color: white;
    font-weight: bold;
  }

  .ScrollMouse{
    padding-top: 2%;
  }

  /* Second Page */

  .hospital {
    position: relative;
    top: 0px;
    right: 0px;
    height: 50vh;
    opacity: 1;
  }
  .imgStatus{
    width: 25%;
    /* margin-right: 200px;
    padding-top: 0%; */
    top: 120px;
    right: 160px;
    position: relative;
  }
  .Status{
    font-size: 2rem;
    font-weight: bold;
    padding-left: 0px;
    margin-top: 0px;
  }
  .BorderStatus{
    width: 80%;
    border: 5px solid rgba(0,0,0,0.5);
    border-radius: 30px;
    padding-top: 5%;
    padding-bottom: 3%;
    padding-right: 100px;
    margin-top: 0px;
  }
  .NewValueStatus{
    font-size: 2rem;
    width: 120%;
    text-align: left;
    padding-left: 20%;
  }
}

/* Extra large devices (large laptops and desktops, 2560px and up) */
/* @media only screen and (min-width: 2560px) {
  #hommie {
    background-image: url("./Components/SVG/virus-bg.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45% ;
    
  }
} */
